.system-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .system-nav-list {
    display: flex;
    gap: 2ch;
  }
  .system-nav-item {
    color: var(--black);
  }
  .help-text {
    color: var(--black);
  }
}

.main {
  height: 40rem;
  background: var(--gray);
  padding: 2.5ch;
  overflow-y: auto;
  position: relative;
}

.main-content {
  box-shadow: 1.75rem 1.75rem 0 var(--black);
  background-color: var(--blue);
  margin-right: 2ch;
  border: 2px solid var(--white);
}

.title {
  background-color: var(--white);
  color: var(--blue);
  text-align: center;
}
//////////////////
// Minimize Button
//////////////////


.minimize-button {
  font-size: .75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.55rem;
  width: 1.55rem;
  color: var(--white);
  background-color: var(--black);
  position: absolute;
  border: 1px solid var(--white);
  box-shadow: 0 0 0 1px var(--black);

  &::after {
    content: '';
    width: calc(100% - 4px);
    height: 2px;
    background-color: var(--white);
  }

  &:hover {
    background-color: var(--gray);
  }
  &:active {
    transform: translate(1px, 1px);
    background-color: var(--white);
    &::after {
      background-color: var(--black);
    }
  }
}
// Layout
.window-content {
  display: flex;
  gap: 1ch;
  //height: 80%;
  padding: 1.5rem 2.5rem;
}

// MENU
.section-title {
  background-color: var(--white);
  color: var(--blue);
  text-align: center;
}

.menu-section, .description-section {
  overflow: auto;
  border: 2px solid var(--white);
}

.menu-selection {
  flex: 4;
}

.description-section {
  flex: 8;
}

.menu-group {
  margin: 2ch;
}

.menu-group-title {
  color: yellow;
  text-transform: uppercase;
  background-color: var(--black);
  margin: 0 -2ch;
  padding: 0 2ch;
}

.menu-item {
  &:hover {
    color: var(--gray);
    background-color: var(--white);
    cursor: pointer;
  }
  &:active {
    transform: translate(1px, 1px);
  }
}

.description-group {
  margin: 2ch;
}

.description-group-title {
  text-transform: uppercase;
  color: yellow;
  margin-bottom: 1ch;
}

.search-form {
  //height: 3rem;
  display: flex;
  //align-items: center;
  //margin: 0 3rem 2rem;
  //margin-bottom: 1.5rem;
}

.search-input {
  content: '.';
  background-color: var(--black);
  color: var(--white);
  flex: 1;
  font-size: var(--font-size);
  padding: .5rem;
  margin: 0 4rem 2rem;
  //width: 85%;
}
