:root {
  --gray: #505750;
  --blue: #5057FF;
  --cyan: #50FFFF;
  --white: #FFF;
  --black: #000;
  --red: #FF5750;
  --font-size: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray);
  font-size: var(--font-size);
}

h1, h2, h3, h4, h5, h6, p, li {
  color: var(--white);
  font-size: var(--font-size);
  font-weight: normal;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

.container {
  max-width: 80ch;
  margin: 2ch auto;
  flex-grow: 1;
}

.header {
  background-color: var(--white);
  padding: 0 4ch;
}
